
.gif{
    display: flex;
    align-items: center;
}

.image{

    width: 100%;
    height: 100px !important;
    object-fit: cover;
    /* overflow: unset !important; */
}

.imgContainer{
    width: 500px;
    height: 200px;
    margin: 4px;
    padding: 5px;
    border: 4px solid white ;
    object-fit: cover;

}

