@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #aa87d9;
    overflow: hidden;
    z-index: -100;
}

.background span {
    width: 50vmin;
    height: 50vmin;
    border-radius: 50vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 5;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: -100;
}


.background span:nth-child(0) {
    color: #cb70d2;
    top: 52%;
    left: 69%;
    animation-duration: 217s;
    animation-delay: -279s;
    transform-origin: -3vw 18vh;
    box-shadow: -100vmin 0 12.85881995386324vmin currentColor;
    z-index: -100;
}
.background span:nth-child(1) {
    color: #cb70d2;
    top: 85%;
    left: 68%;
    animation-duration: 314s;
    animation-delay: -353s;
    transform-origin: 20vw 0vh;
    box-shadow: -100vmin 0 13.324839509854424vmin currentColor;
    z-index: -100;
}
.background span:nth-child(2) {
    color: #43c8c1;
    top: 86%;
    left: 34%;
    animation-duration: 269s;
    animation-delay: -167s;
    transform-origin: 3vw -7vh;
    box-shadow: -100vmin 0 13.417576699164599vmin currentColor;
    z-index: -100;
}
.background span:nth-child(3) {
    color: #96f2de;
    top: 90%;
    left: 38%;
    animation-duration: 358s;
    animation-delay: -339s;
    transform-origin: -2vw -12vh;
    box-shadow: 100vmin 0 13.414747936802126vmin currentColor;
    z-index: -100;
}
.background span:nth-child(4) {
    color: #cb70d2;
    top: 91%;
    left: 70%;
    animation-duration: 147s;
    animation-delay: -278s;
    transform-origin: -1vw 20vh;
    box-shadow: -100vmin 0 13.029148712074981vmin currentColor;
    z-index: -100;
}
.background span:nth-child(5) {
    color: #a887e1;
    top: 80%;
    left: 59%;
    animation-duration: 325s;
    animation-delay: -68s;
    transform-origin: -7vw 18vh;
    box-shadow: 100vmin 0 13.305400526888205vmin currentColor;
    z-index: -100;
}
.background span:nth-child(6) {
    color: #96ecf2;
    top: 56%;
    left: 68%;
    animation-duration: 163s;
    animation-delay: -343s;
    transform-origin: -3vw 24vh;
    box-shadow: 100vmin 0 12.995337237031363vmin currentColor;
    z-index: -100;
}
.background span:nth-child(7) {
    color: #dd86d4;
    top: 31%;
    left: 51%;
    animation-duration: 140s;
    animation-delay: -298s;
    transform-origin: -5vw 12vh;
    box-shadow: -100vmin 0 13.247691560018863vmin currentColor;
    z-index: -100;
}
.background span:nth-child(8) {
    color: #c281e6;
    top: 61%;
    left: 14%;
    animation-duration: 443s;
    animation-delay: -55s;
    transform-origin: 17vw 13vh;
    box-shadow: -100vmin 0 13.215694145562052vmin currentColor;
    z-index: -100;
}
.background span:nth-child(9) {
    color: #ae90e3;
    top: 19%;
    left: 44%;
    animation-duration: 36s;
    animation-delay: -51s;
    transform-origin: 21vw 21vh;
    box-shadow: -100vmin 0 12.718412546267071vmin currentColor;
    z-index: -100;
}
.background span:nth-child(10) {
    color: #7ce8b9a9;
    top: 60%;
    left: 36%;
    animation-duration: 365s;
    animation-delay: -38s;
    transform-origin: 20vw 1vh;
    box-shadow: 100vmin 0 13.363805500050507vmin currentColor;
    z-index: -100;
}
.background span:nth-child(11) {
    color: #cb70d2;
    top: 91%;
    left: 85%;
    animation-duration: 362s;
    animation-delay: -262s;
    transform-origin: -13vw -18vh;
    box-shadow: 100vmin 0 13.168846334443744vmin currentColor;
    z-index: -100;
}
.background span:nth-child(12) {
    color: #be96f2;
    top: 80%;
    left: 41%;
    animation-duration: 125s;
    animation-delay: -306s;
    transform-origin: 16vw -3vh;
    box-shadow: -100vmin 0 12.824127190814563vmin currentColor;
    z-index: -100;
}
.background span:nth-child(13) {
    color: #a568f5;
    top: 88%;
    left: 74%;
    animation-duration: 353s;
    animation-delay: -83s;
    transform-origin: -15vw 24vh;
    box-shadow: 100vmin 0 13.108875073120052vmin currentColor;
    z-index: -100;
}
.background span:nth-child(14) {
    color: #ed7ede;
    top: 28%;
    left: 56%;
    animation-duration: 269s;
    animation-delay: -173s;
    transform-origin: -24vw -16vh;
    box-shadow: 100vmin 0 13.046030715499738vmin currentColor;
    z-index: -100;
}
.background span:nth-child(15) {
    color: #d2ced9;
    top: 4%;
    left: 52%;
    animation-duration: 236s;
    animation-delay: -401s;
    transform-origin: 22vw 1vh;
    box-shadow: 100vmin 0 13.056023822063537vmin currentColor;
    z-index: -100;
}
.background span:nth-child(16) {
    color: #cb70d2;
    top: 18%;
    left: 20%;
    animation-duration: 439s;
    animation-delay: -95s;
    transform-origin: 22vw -5vh;
    box-shadow: -100vmin 0 13.072134863633055vmin currentColor;
    z-index: -100;
}
.background span:nth-child(17) {
    color: #3c8287;
    top: 32%;
    left: 53%;
    animation-duration: 268s;
    animation-delay: -186s;
    transform-origin: 19vw -21vh;
    box-shadow: -100vmin 0 13.029742752833968vmin currentColor;
    z-index: -100;
}
.background span:nth-child(18) {
    color: #935fed;
    top: 33%;
    left: 1%;
    animation-duration: 19s;
    animation-delay: -284s;
    transform-origin: -20vw -11vh;
    box-shadow: 100vmin 0 12.62353483586597vmin currentColor;
    z-index: -100;
}
.background span:nth-child(19) {
    color: #cb70d2;
    top: 94%;
    left: 97%;
    animation-duration: 43s;
    animation-delay: -400s;
    transform-origin: 13vw -13vh;
    box-shadow: -100vmin 0 12.684089620169743vmin currentColor;
    z-index: -100;
}
.background span:nth-child(20) {
    color: #cb70d2;
    top: 18%;
    left: 2%;
    animation-duration: 388s;
    animation-delay: -107s;
    transform-origin: 15vw -6vh;
    box-shadow: 100vmin 0 12.748806434817302vmin currentColor;
    z-index: -100;
}
.background span:nth-child(21) {
    color: #896eac;
    top: 62%;
    left: 62%;
    animation-duration: 407s;
    animation-delay: -59s;
    transform-origin: 0vw 22vh;
    box-shadow: 100vmin 0 13.129725242868334vmin currentColor;
    z-index: -100;
}
.background span:nth-child(22) {
    color: #cb70d2;
    top: 90%;
    left: 77%;
    animation-duration: 216s;
    animation-delay: -367s;
    transform-origin: 21vw -23vh;
    box-shadow: -100vmin 0 12.63090810755558vmin currentColor;
    z-index: -100;
}
.background span:nth-child(23) {
    color: #c682d7;
    top: 91%;
    left: 76%;
    animation-duration: 161s;
    animation-delay: -139s;
    transform-origin: 14vw 0vh;
    box-shadow: 100vmin 0 13.3918974833543vmin currentColor;
    z-index: -100;
}
.background span:nth-child(24) {
    color: #cb70d2;
    top: 24%;
    left: 20%;
    animation-duration: 111s;
    animation-delay: -216s;
    transform-origin: -16vw 8vh;
    box-shadow: -100vmin 0 13.14075686348113vmin currentColor;
    z-index: -100;
}
.background span:nth-child(25) {
    color: #9755ee;
    top: 28%;
    left: 30%;
    animation-duration: 283s;
    animation-delay: -101s;
    transform-origin: 8vw -11vh;
    box-shadow: -100vmin 0 12.636127326356142vmin currentColor;
    z-index: -100;
}
.background span:nth-child(26) {
    color: #73babd;
    top: 6%;
    left: 78%;
    animation-duration: 415s;
    animation-delay: -10s;
    transform-origin: -2vw 22vh;
    box-shadow: -100vmin 0 13.396654424943845vmin currentColor;
    z-index: -100;
}
.background span:nth-child(27) {
    color: #a772ed;
    top: 19%;
    left: 83%;
    animation-duration: 281s;
    animation-delay: -219s;
    transform-origin: 14vw -11vh;
    box-shadow: -100vmin 0 13.338159481816394vmin currentColor;
    z-index: -100;
}
